 body{
    margin: 0;
    background-color: rgb(18, 37, 57);
    
}
button{
    background-color: rgb(29, 170, 214);
    height: 40px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    padding: 12px;
    border-style: wave;
    cursor: pointer;
}
 button:hover {
     background-color: rgb(7, 40, 50);
 }




.header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(19, 63, 63);
    color: rgb(242, 241, 244);
}

.select{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.big_container{
    display: flex;
    justify-content: center;
}
.container{

    display: flex;
    border: 1px solid black;
    margin: 50px;
    height: 500px;
    width: 500px;
}
.square{
    border: 1px solid #082b3a;
}


